{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block dashboard %}active{% endblock %}

{% block role %}archive{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
              <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-6 d-flex align-items-center">
                      <h6 class="mb-0">Items</h6>
                    </div>
                    <div class="col-6 text-end">
                        <!-- Button trigger modal -->
<button type="button" class="btn bg-gradient-dark mb-0" data-bs-toggle="modal" data-bs-target="#add_item">
  <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Item
</button>

<!-- Modal -->
<div class="modal fade" id="add_item" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="POST" action="/items/add">
      <div class="modal-body">
        <div class="col-md-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Item</label>
                    <input class="form-control" name="item" type="text" onfocus="focused(this)" onfocusout="defocused(this)" required>
                  </div>
                </div>
        <div class="col-md-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Rate</label>
                    <input class="form-control" name="rate" type="text" onfocus="focused(this)" onfocusout="defocused(this)" required>
                  </div>
                </div>
        <div class="col-md-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Category</label>
                    <input class="form-control" name="category" type="text" onfocus="focused(this)" onfocusout="defocused(this)">
                  </div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
        </form>
    </div>
  </div>
</div>

                    </div>
                  </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Item</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Rate</th>
                          <th class="text-secondary opacity-7"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in data['items_list'] %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ item.name }}</h6>
                                <p class="text-xs text-secondary mb-0">Category: {{ item.category }}</p>
                              </div>
                            </div>
                          </td>
                          <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">₹ {{ item.rate }} /-</span>
                          </td>
                          <td class="align-middle">
                              <!-- Button trigger modal -->
                            <a class="text-secondary font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#modal{{ item.item_id }}">
                              Edit
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="modal{{ item.item_id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal_{{ item.id }}" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">{{ item.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      <form method="POST" action="/items/update/{{ item.item_id }}">
                                  </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                      <div class="form-group">
                                                        <label for="example-text-input" class="form-control-label">Item</label>
                                                        <input class="form-control" value="{{ item.name }}" name="item" type="text" onfocus="focused(this)" onfocusout="defocused(this)" required>
                                                      </div>
                                                    </div>
                                            <div class="col-md-12">
                                                      <div class="form-group">
                                                        <label for="example-text-input" class="form-control-label">Rate</label>
                                                        <input class="form-control" value="{{ item.rate }}" name="rate" type="text" onfocus="focused(this)" onfocusout="defocused(this)" required>
                                                      </div>
                                                    </div>
                                            <div class="col-md-12">
                                                      <div class="form-group">
                                                        <label for="example-text-input" class="form-control-label">Category</label>
                                                        <input class="form-control" value="{{ item.category }}" name="category" type="text" onfocus="focused(this)" onfocusout="defocused(this)">
                                                      </div>
                                                    </div>
                                          </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a class="btn btn-danger" href="/items/delete/{{ item.item_id }}">Delete</a>
                                    <button type="submit" class="btn btn-primary">Commit</button>
                                  </div>
                                </div>
                                      </form>
                                </div>
                              </div>
                            </div>

                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock %}
