{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block dashboard %}active{% endblock %}

{% block role %}owner{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Occupied Tables</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Table Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hosted by</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order ID</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if data['tables_occupied'][1] > 0 %}
                    {% for table in data['tables_occupied'][0] %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ table.name }}</h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0">V2-{{ table.user }}</p>
                          </td>
                          <td class="align-middle text-center text-sm">
                             <span class="badge badge-sm bg-gradient-success">Occupied</span>
                          </td>
                          <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ table.order_id }}</span>
                          </td>
                          <td class="align-middle">
                              <a href="/order/{{ table.order_id }}">
                                  View Order
                              </a>
                          </td>
                        </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="5">
                        <p class="text-center">No occupied tables</p>
                      </td>
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Unoccupied Tables</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Table Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hosted by</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order ID</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if data['tables_unoccupied'][1] > 0 %}
                    {% for table in data['tables_unoccupied'][0] %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ table.name }}</h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0">{{ table.user }}</p>
                          </td>
                          <td class="align-middle text-center text-sm">
                              <a href="/activate_table/{{ table.table_id }}">
                                  <span class="badge badge-sm bg-gradient-secondary">Unoccupied</span>
                              </a>
                          </td>
                          <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ table.order_id }}</span>
                          </td>
                          <td class="align-middle">

                          </td>
                        </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="5">
                        <p class="text-center">No unoccupied tables</p>
                      </td>
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}